@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

header.header {
    display: flex;
    justify-content: space-between;
    padding: 42px 112.5px 16.7px;
    align-items: center;
}

a {
    text-decoration: none;
}

header.header a {
    padding: 4px;
    color: black;
}



.left-side h1 span {
    color: #FF8A56;
}

.left-side p {
    color: #666666;

}

.teqdimat {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 80px;
}

.teqdimat button {
    width: 151px;
    height: 58px;
    background-color: #222;
    color: #fff;

}

.teqdimat h1 {

    font-size: 72px;
    font-weight: 700;
}

.teqdimat p {
    margin-top: 34px;
    margin-bottom: 24px;

}

.teqdimat a {
    padding-left: 20px;
}

.right-side img {
    width: 100%;
}

.left-side {
    background-color: yellow;
    padding-top: 117px;
}

.right-side {
    background-color: teal;
    padding-top: 70px;
}

.fa-bars {
    display: none !important;
}


@media(max-width:768px) {
    header.header {
        padding-left: 60px;
        padding-right: 60px;
    }

    .nav-nav-links {
        display: none;
    }

    .fa-bars {
        display: block !important;
        cursor: pointer;
    }
}




@media(max-width:576px) {
    header.header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:1184px) {
    .teqdimat {
        padding-left: 60px;
        padding-right: 60px;

    }

}

@media(max-width:1107px) {
    .teqdimat {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:930px) {
    .teqdimat h1 {
        font-size: 42px;
    }
}

@media(max-width:768px) {
    .teqdimat {
        flex-direction: column;
    }
}

.trusted-section h6 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 77px;

}

.trusted-companies {
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
}

/* :nth-child() */
@media(max-width:768px) {
    .trusted-company:nth-child(odd) {
        display: none;
    }

}

@media(max-width:576px) {
    .trusted-company:nth-child(2) {
        display: none;
    }

}

.services-section h6 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #FF5E69;
    padding-top: 80px;
    letter-spacing: 2px;
}

.services-section h1 {
    text-align: center;
    font-weight: 700;
    padding-top: 20px;
    font-size: 30px;
    letter-spacing: 1px;


}

.services-section {
    padding-left: 171px;
    padding-right: 171px;
    padding-top: 76.27px;
}

.services-section ul {
    list-style-type: square;
    list-style-position: inside;
}

.services-cards-section {
    display: flex;
    justify-content: space-between;
    padding-top: 117.95px;
    flex-wrap: wrap;
}

.card {
    min-width: 252px;
    width: 252px;
    /* padding-top: 39px; */
}

.services-cards-section h1 {
    font-size: 20px;
    line-height: 26px;
    height: 27px;


}

.services-cards-section h2 {
    font-size: 20px;
    line-height: 26px;
    height: 27px;
    font-weight: 700;
}

.services-cards-section h3 {
    font-size: 20px;
    line-height: 26px;
    height: 27px;
    font-weight: 700;
}

.services-cards-section p {
    font-size: 14px;
    color: #666666;
    padding-top: 10px;
font-weight: 400;
margin-bottom: 30px;
}

.services-cards-section small {
    font-size: 14px;
    color: #666666;
    padding-top: 10px;
}

.services-cards-section h4 {
    font-size: 14px;
    color: #666666;
    padding-top: 10px;
}

.services-cards-section ul li {
    font-size: 12px;
    width: 700;
    line-height: 28px;
    color: #000000;
    padding-top: 10px;

}

@media(max-width:768px) {
    .services-section {
        padding-left: 60px;
        padding-right: 60px;

    }
}

.projects-section {
    display: flex;
    justify-content: space-between;
    padding-left: 113px;
    padding-right: 112px;
    padding-top: 140px;
}

.projects-section h1 {
    font-size: 15px;
    letter-spacing: 2px;
    color: #B16CEA;
    padding-bottom: 20px;
  

}

.projects-section h2 {
    font-size: 38px;
    width: 392px;

    color: #000000;
    line-height: 50px;
}

.projects-section button {
    width: 150px;
    height: 50px;
    background-color: #222;
    color: #fff;
    
}
.view-projects-section{
    padding-left: 113px;
    padding-top: 70px;
}
